body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .rotate {
    width: 200px;
    height: 200px;
    background-color: blue;
    transition: transform 2s ease-in-out 2s;
  }
  
  .rotate:hover {
    transform: rotate(60deg);
  }
  